@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.header {
  background-color: $color-brand-primary;
  display: flex;
  align-items: center;
  width: 100%;
  padding: .75rem 1rem;
  
  @include desktop {
    padding: .75rem 4rem;
  }

  &__title {
    font-size: 1rem;
    color: $color-background-primary;
    padding-left: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
    
    @include desktop {
      font-size: 2rem;
    }
  }

  &__link {
      text-decoration: none;
      text-align: center;
  }

  &__logo {
    height: 2rem;

    @include desktop {
      height: 3rem;
    }
  }

}
