
/* responsive breakpoints*/
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

/* colors primary*/
$color-text-primary: #AEAFB3;
$color-background-primary: #FEFDFE;
$color-brand-primary: #44566C;
$color-border-primary: #E4E8E9;

/* colors secondary*/
$color-background-secondary: #FBFBFB;
$color-brand-secondary: #567E9B;


